<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload</title>
</head>

<body>

    <form style="
        border: 2px solid black; 
        padding:14px 94px; width: 200px; 
        margin: 36vh 36vw;
        " action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="profileImage" id="profileImage" multiple> <br>
        <button style="color: white; padding: 5px; margin-top: 4px; width: 180px; background-color: blue; border: none;"
            type="submit">
            Submit
        </button>
    </form>
</body>

</html>